body{
background:linear-gradient(to right, rgba(22,66,115,1) 0%, rgba(22,66,115,1) 3%, rgba(32,92,164,1) 63%, rgba(32,92,164,1) 99%, rgba(32,92,164,1) 100%);

	}
.modal-content{
background-color: #bb2729;
box-shadow: 0px 0px 3px #848484;
padding: 20px 20px;
}
.main-section{
	margin: 0 auto;
	margin-top: 35%;
	padding: 0px;
}

#user-group{
padding-top: 20px;
}

.form-group input{
height: 42px;
font-size: 18px;
padding-left: 5px;
border-radius: 5px;
}
#ico_user{

	font-size: 25px;
	color: #6c757d;
}
#ico_pas{
	font-size: 25px;
	color: #6c757d;
}