#body{

	}
.img_platos_dia{
clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
width:288px;
height:108px;
opacity: .30;
border-radius: 3px;
}
.div_platos_dia{
background:linear-gradient(to right, rgba(22,66,115,1) 0%, rgba(22,66,115,1) 3%, rgba(32,92,164,1) 63%, rgba(32,92,164,1) 99%, rgba(32,92,164,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1314', endColorstr='#a51925', GradientType=1 );
	border-radius: 10px;
	clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
	box-shadow: 0px 0px 3px #848484;
	border-radius: 10px;
}

.img_pedidos{
clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
width:288px;
height:108px;
width:140; 
height:108;
}
.card-body{
border-bottom: solid 3px #205ca3;
}

.main-section{
margin-top: 10%;
}


#tipo_letra{
	font-size: 25px;
	color: red;
}

#modal-title
{
 border-bottom: solid 3px #de027e;
 background-color: #205ca4;
 color: white;
}