body{
background: #dbdbdb;
}

#nav_pric{
background:linear-gradient(to right, rgba(22,66,115,1) 0%, rgba(22,66,115,1) 3%, rgba(32,92,164,1) 63%, rgba(32,92,164,1) 99%, rgba(32,92,164,1) 100%);


}

.main-section{
margin-left: auto;
margin-right: auto;
padding: 0px;

}
#guardar{
margin-left: auto;
margin-right: auto;
}